# SimpleCov generated report
/coverage/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep

# Secrets
config/master.key

# generated js/css assets
public/assets/
