/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.table {
    display: table;
    width: 100%;
}

.header {
    flex-grow: 1;
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 10px;
}

.data {
    background-color: #f7f7f7;
}

.save {
    padding-top: 15px;
    width: 340px;
    display: flex;
    justify-content: center;
}

.user {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f1f1f1;
    font-weight: bold;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation_link {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 30px;
    text-decoration: none;
    color: #565656;
}

.flash_messages {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.success {
    padding: 20px;
    background-color: #4caf50;
}

.warning {
    padding: 20px;
    background-color: #ff9800;
}

.error {
    padding: 20px;
    background-color: #f44336;
}

.centered-button {
    display: block;
    margin: 0 auto; /* Center horizontally */
    font-size: 18px; /* Increase font size */
    padding: 10px 20px; /* Add padding for button size */
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.centered-button:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 10px;
    border: grey 1px solid;
    padding: 8px;
}
